* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* NAVBAR */

nav {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5.48rem;
    border-right: 1.5px solid #e5dedea0;
    position: fixed;
}

.brand {
    padding-top: 2rem;
    font-size: 2.5rem;
    stroke-width: 0;
}

.brand svg {
    fill: #000;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.icons svg {
    font-size: 1.6rem;
    fill: #000;
}

.isActive svg {
    fill: #fab005;
}

.profile {
    padding-bottom: 1.6rem;
    font-size: 2rem;
}

.profile svg {
    fill: #000;
}


/* MAIN PAGE */

.app {
    padding: 4rem 9rem 4rem 14rem;
    width: 75%;
}


/* ASIDE */

.aside {
    height: 100vh;
    width: 25%;
    border-left: 1.5px solid #e5dedea0;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
}


/* ARTICLE */

.article {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem 0;
    border-bottom: 1.5px solid #e5dedea0;
}


/* Author */

.author {
    display: flex;
    gap: 0.9rem;
    width: 24rem;
    font-weight: 400;
    position: relative;
}

.author span {
    bottom: -0.2rem;
    left: 6.65rem;
    font-size: 2.2rem;
    position: absolute;
    color: #fdb500ad;
}

.date {
    color: #7b7f82;
}


/* Inside Article (Title and Description) */

.headline {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 75%;
}

.headline h2 {
    font-size: 1.4rem;
    line-height: 1.4;
}

.description {
    line-height: 1.5;
    font-size: 1.05rem;
    font-family: 'Source Serif Pro', serif;
}


/* Image  */

.image {
    width: 8.5rem;
    height: 8.5rem;
    margin-left: 1rem;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Image and headline */

.img-headline {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


/* TAGS */

.resource {
    font-size: 0.86rem;
    font-weight: 300;
    display: flex;
    gap: 0.8rem;
    margin-top: 0.8rem;
}

.source {
    padding: 0 0.4rem;
    border-radius: 100rem;
    background-color: #ffda7d4b;
}

.catagory {
    color: #5e6265;
}